.about {
  text-align: center;
  padding-top: 100px;
}

.about1 {
  background-color: white;
  color: black;
  padding: 40px 20px;
  margin-top: 40px;
}

.pet1 ul {
  text-align: left;
}

.pet1 {
  background-color: white;
  color: black;
  padding: 40px 20px;
}

.pet_gecko {
  max-width: 300px;
}

.accordion {
  max-width: 1200px;
  margin: 10px auto;
}
