body {
    background-color: #002010;
    margin: 0;
    font-family: sans-serif;
    color: #FFFFFF;
}

a{
    text-decoration: none;
    color: white;
}

.pluses{
    display: flex;
    justify-content: space-between;
    gap: 16px;

    .article{
        display: flex;
        gap: 24px;
    }
    .number{

    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
        padding: 38px 16px;
        border-right: 1px solid #FFFFFF;

    }
}
.footer-curve {min-height: 20vh; background-color: #008945; border-top-left-radius: 50% 100px; border-top-right-radius: 50% 100px; padding-top: 80px; margin-top: 80px; }