main{
    background-color: #008945;
}
.main-content{
    display: flex;
    height: 80vh;
   div{
    width: 70%;
   }
}
.hero-image {
            max-width: 30%;
            object-fit: cover;
        }
.info-panel {
            flex: 1;
            padding: 40px;
            /* колір тексту (білий) */
        }
        .section-header {
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            /* жирний шрифт */
        }
        .text-block {
            line-height: 1.5;
            font-size: 14px;
            margin-bottom: 20px;
        }
main{
    padding-top: 100px;
}

.animal-block{
    display: none;
}

.animal-block.active{
    display: block;
}