.main-content{
    display: flex;
    background-color: #008945;
}
.info-panel {
            flex: 1;
            padding: 40px;
            /* колір тексту (білий) */
        }
        .section-header {
            font-size: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            /* жирний шрифт */
        }
        .text-block {
            line-height: 1.5;
            font-size: 14px;
            margin-bottom: 20px;
        }
main{
    padding-top: 100px;
}

